In [1]:
import networkx as nx

In [2]:
G=nx.DiGraph() #empty directed graph(no edges and nodes)
G.add_edges_from([(1,2),(1,3),(2,1),(3,1)])

In [3]:
pagerank=nx.pagerank(G,alpha=0.85)

In [8]:
pagerank

{1: 0.48648582432442095, 2: 0.25675708783778944, 3: 0.25675708783778944}

In [10]:
pagerank.items()

dict_items([(1, 0.48648582432442095), (2, 0.25675708783778944), (3, 0.25675708783778944)])

In [11]:
type(pagerank.items())

dict_items

In [5]:
import pandas as pd
df=pd.DataFrame(pagerank.items())

In [6]:
df.head()

   0         1
0  1  0.486486
1  2  0.256757
2  3  0.256757

In [7]:
df.columns=['Nodes','Pagerank']
df.head()

   Nodes  Pagerank
0      1  0.486486
1      2  0.256757
2      3  0.256757